.inputTodo {
  padding: 4px;
  border-radius: 4px;
  color: rgb(8, 74, 124);
  border: none;
  margin: 5px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
}
.inputDate {
  padding: 4px;
  border-radius: 4px;
  color: rgb(8, 74, 124);
  border: none;
  margin: 5px;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
}
.but {
  margin: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}
